---
layout: page
title: Iscrizione
---

{% include description.html data = site.data.registration %}
{% include cards.html data = site.data.registration %}
{% include sections.html data = site.data.registration %}

<!--<h4> Registration form </h4>-->
<div id="registration-container" data-ending-date="{{ site.data.registration.ending_date }}">
    <!-- Registration status will be inserted here -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const container = document.getElementById("registration-container");
        const endingDateStr = container.getAttribute("data-ending-date");

        const now = new Date();
        const endingDate = new Date(endingDateStr);

        if (now < endingDate) {
            container.innerHTML = `
        <iframe id="regform"
          src="{{ site.data.registration.form_url }}"
          frameborder="0" marginheight="0" marginwidth="0">
          Loading…
        </iframe>`;
        } else {
            container.innerHTML = "<h2>Iscrizioni chiuse</h2>";
        }
    });
</script>
